WIDTH=1000
HEIGHT=700
HSPACE=0
VSPACE=0
ALIGN=middle
tableheight=500
audioFormat.values=raw wav pcm
sampleRate=8000
withRecorderControl=true
withClassificationButtons=true
url=localhost
port=6666
classification=true
hideLabel=false
hideName=false
transcriptionFieldInline=true
transcribeOnly=false
withTranscribe=true
withRecognizer=true
withSynthesizer=true
noMultiplePlayBack=false
useExternalPlayer=false
refreshFromHardDisc=true
replacements=f:[fragment],v:[vocal],b:[breath],n:[noise],g:[garbage],p:[pause,h:@hes@]
classes=fn:firstname,ln:lastname,dg:digit,in:integer,dc:decimal,od:ordinal,dt:date,yr:year,mn:month,da:day,tm:time,cm:company,tw:town,cn:country,cy:currency,an:alphanumeric,re:region
prefixes=n:&
abbreviations=usw:und so weiter,z.b.:zum beispiel,telnr:telefonnummer
sortRecordings=false
sortOrderAscending=true
audioFormatAlaw=false
recordingAudioAskName=false
fastModeSetsAnger=true
<!-PARAM Name="charEnc=UTF-8"-->
charEnc=ISO8859-1
transcriptionField.height=80
transcriptionField.width=800
numberToWord=true
markAngerInTable=true
noAnger.label=no anger
coldAnger.label=?
anger.label=anger
categories=-1,NA;0,G;1,N;2,U;3,A;4,A;5,A
<!-- PARAM Name="categories=-1,NA;1,C;2,Y;4,A;6,S"/-->
indexName=No
recDialogName=Session
recNameName=Name
recWordsName=Transcript
recLabName=Label
recPredName=Prediction
recSizeName=Size
record.label=
record.tooltip=press to record
record.short=r
record.question=The file name, if left empty, current date and time will be used."/>
play.label=
play.tooltip=press to play
play.short=p
resume.label=
resume.tooltip=press to resume
resume.short=m
stop.label=
stop.tooltip=press to stop
stop.short=s
judge.label=judge
judge.tooltip=press to classify
judge.short=j
rename.label=
rename.tooltip=press to rename recording
rename.short=e
rename.question=The new file name."/>
open.label=
open.tooltip=press to load from local file or directory (server has to run on the same machine)
open.short=n
open.question=choose file to open
export.label=export
export.tooltip=press to export transcripts to local file (server has to run on the same machine)
export.short=e
export.question=choose export file
import.label=import
import.tooltip=press to import transcripts from local file (server has to run on the same machine)
import.short=t
import.question=choose import file
exec.label=
exec.tooltip=press to execute external command on the selected audio file, command must be specified in the server configuration.
exec.short=x
openModel.label=model
openModel.tooltip=if selected, classifier model can be chosen by file open.
diropen.question=choose directory to open.
toggleTranscript.label=toggle transcript - recognition
toggleTranscript.tooltip=toggle between transncript and transcription
toggleTranscript.short=t
openDirectory.label=dir
openDirectory.tooltip=If set, file open opens a directory containing audio files, else a textlist of files is opened.
playAll.label=play all
playAll.tooltip=If set, from marked file downwards all files will be played without stopping.
evalFiles.label=files
evalFiles.tooltip=If set, the model is evaluated against the files (as test), otherwise the evaluation is 10 fold cross on the training.
copyRecognition.label=recognition -> transcript
copyRecognition.tooltip=copy transcription to transcipt (overwrite)
copyRecognition.short=c
deleteAllPredictions.label=del all preds
deleteAllPredictions.tooltip=press to delete all ppredictions
deleteAllPredictions.short=i
refresh.label=
refresh.tooltip=press to refresh list from server
refresh.short=f
delete.question=sure to delete recordings? (can't be undone)
removeUntagged.question=sure to delete recordings without a label?
removeUntagged.label=delete untagged
removeUntagged.tooltip=press to delete all files without a label
removeUntagged.short=g
recognize.label=recognize
recognize.tooltip=press to recognize text with speech to text module
recognize.short=z
quit.label=quit
quit.tooltip=press to quit
quit.short=q
train.label=train
train.tooltip=press to train a new classification model
train.short=t
synthesize.label=synthesize
synthesize.tooltip=press to synthesize
synthesize.short=y
synthesize.question=sure to synthesize? (overwrites audio)
synthesizeAll.label=synthesize all
synthesizeAll.tooltip=press to synthesize all
synthesizeAll.short=h
ttsSexFemale.tooltip=tick to set tts gender
ttsSexFemale.label=female
ttsLanguages.label=lang:
ttsLanguages.values=de-DE en-US zh-CN
ttsLanguages.tooltip=select tts language
synthesizeAll.question=sure to synthesize? (overwrites all audio)
judgeAll.label=judge all
judgeAll.tooltip=press to classify all
judgeAll.short=q
recognizeAll.label=recognize all
recognizeAll.tooltip=press to recognize all
recognizeAll.short=g
evaluate.label=eval
evaluate.tooltip=press to evaluate classification (10 fold cross)
evaluate.short=v
shuffle.label=shuffle
shuffle.tooltip=press to shuffle the recording data at random
shuffle.short=f
delete.label=
delete.tooltip=press to delete physically! no undo!
delete.short=d
buttons=s1 s2 s3 s4 s5 NA
s1.label=1
s1.value=1
s1.tooltip=press for zero anger
s1.short=1
s2.label=2
s2.value=2
s2.tooltip=press for not sure anger
s2.short=2
s3.label=3
s3.value=3
s3.tooltip=press for light anger
s3.short=3
s4.label=4
s4.value=4
s4.tooltip=press for clear anger
s4.short=4
s5.label=5
s5.value=5
s5.tooltip=press for strong anger
s5.short=5
NA.label=NA
NA.tooltip=press for not applicable
NA.short=0
sampleRate.label=rate:
sampleRate.values=8000 11025 16000 22050 44100
audioFormat.label=format:
removeLastLabel.label=del last label
removeLastLabel.tooltip=press to remove the last label
removeLastLabel.short=r
removePred.label=del prediction
removePred.tooltip=press to remove the classification result (prediction)
removePred.short=m
statistics.label=stats
statistics.tooltip=press for statistics
statistics.short=y
transcribe.label=transcribe
transcribe.tooltip=presss to open transcription window
transcribe.short=t
normalize.label=normalize
normalize.tooltip=presss to normalize transcription
normalize.short=z
normalizeAll.label=nrmlz. all
normalizeAll.tooltip=presss to normalize all trasncriptions.
normalizeAll.short=y
wer.label=WER
wer.tooltip=compute Word error rate
wer.short=t
checkSpelling.label=CS
checkSpelling.tooltip=Check to check the spelling of each word in the transcription field (after blank insertion).
fastTranscritpionMode.tooltip=check for fast transcription mode
fastTranscritpionMode.label=FTM
fastPlayMode.tooltip=check for automated playback mode
fastPlayMode.label=APM
numberToWord.tooltip=check for automated conversion of numbers to words
numberToWord.label=N2W
extractFeatures.tooltip=check to extract features before training classifier or judging all files.
extractFeatures.label=EF
